*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.titulo{
    color: rgb(00, 206, 219);
}
header{
    background-color: #ff00ff;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.alinhamentotxt{
    padding: 10px;
}
.itens{
    padding: 30 10px;
    background-color: blueviolet;
}
.itenstitulo{
    margin-bottom: 10px;
}
.itensconteudo{
    display: flex;
    margin-top: 45px;
    justify-content: space-between
}
.itensestilo{
background-color: blue;
color: white;
padding: 10px;
text-align: center;
border-radius: 10px;
}
.formulario{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}
.input{
    padding: 9px;
    border: 0px;
    border: 2px solid #ff00ff;
    border-radius: 10px;
}
.input:focus{
    outline: none;
    border: 2px solid rgb(00, 206, 219);
}
.botao{
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #ff00ff;
    transition: all 0.30s ease-in;
}
.botao:hover{
    background-color: rgb(00, 206, 219);
}
@media (max-width: 600px) {
    .itensconteudo{
        flex-direction: column;
        align-items: center;
        gap: 30px
    }
    .itensestilo{
        width: 90%;
    }
}